# Compiler files
cache/
out/

# Documentation omitted from flattened dependencies
vendor/**/docs/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Local environment files
.env
.env.*
!.env.example

# Node modules
node_modules/

# v4hook plans and evidence
.v4hook/
